global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: account-app
    metrics_path: /metrics
    static_configs:
      - targets: ["app:9091"]

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]
