apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: account
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
      evaluation_interval: 5s

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ["prometheus.account.svc.cluster.local:9090"]

      - job_name: account-app
        metrics_path: /metrics
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: ["account"]
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            regex: account
            action: keep
          - source_labels: [__meta_kubernetes_pod_container_port_number]
            regex: "9091"
            action: keep
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod

      - job_name: cadvisor
        static_configs:
          - targets: ["cadvisor.account.svc.cluster.local:8080"]
